
<nav class="navbar">
  <div class="container-fluid">


    <div class="navbar-header">
      <img src="../../assets/logo.png">
    </div>

    <ul class="nav navbar-nav">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><fa-icon [icon]="faShoppingCart"></fa-icon> </li>
      <li><fa-icon [icon]="faPerson"></fa-icon></li>
    </ul>

  </div>
</nav>
