<app-navbar></app-navbar>
<div class="container home-all">
  <div class="row">
    <div class="col-md-6 home-left">
      <div class="container">
        <div class="row one">
          <div class="col-md-12">
            <p>TRULY ITALIAN</p>
          </div>
        </div>
        <div class="row two">
          <div class="col-md-12">
            <p>Pepperoni Pizza with Thin Crust</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Choose your favourite non-veg pizzas from the Domino's Pizza menu. Get fresh non-veg pizza with your choice of crusts & toppings</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 icon">
            <span><i class="fa fa-fire fa-3x"></i></span>
            <span><p><b>480</b><br>calories</p></span>
          </div>
          <div class="col-md-4 icon">
            <span><i class="fa fa-puzzle-piece fa-3x"></i></span>
            <span><p><b>120 g</b><br>cheese</p></span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4 home-right">
      <img src="../../assets/pizza1.png">
    </div>
  </div>
</div>
